header {
  text-align: center;
  background-color: #d3d3d3;
  padding: 1em 0;
  border-radius: 1em;
}

article {
  width: 25%;
  border: 1px black solid;
  border-radius: 1em;
  padding: 10px;
  display: inline-block;
  float: left;
  text-align: center;
  box-shadow: 4px 5px 2px 1px rgba(0, 0, 0, 0.5);
  margin: 1em 2%;
}

article p {
  text-align: center;
  display: inline;
}

.discount {
  text-decoration: line-through;
}

article aside span {
  background-color: rgba(255, 0, 0, 0.432);
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

footer {
  text-align: center;
  background-color: #d3d3d3;
  padding: 1em 0;
  border-radius: 1em;
}
